@model IEnumerable<DatabaseAcess.tblBranch>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Level
        </th>
        <th>
            Branch Title
        </th>
        <th>
            Conttact No
        </th>
        <th>
            Branch Address
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.tblBranchType.BranchType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BranchName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BranchContact)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BranchAddress)
    </td>


    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.BranchID }) |
        @Html.ActionLink("Details", "Details", new { id = item.BranchID }) 
    </td>
</tr>
}

</table>
